<template name='layout'>
    <div class="container">
      <!--<header class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Dispatch</a>
        </div>
        </header> -->
      <div id="main">
        <div class="jumbotron">
          <h1>Cabbage Dispatch Kids</h1>
          <p><a href="http://www.youtube.com/watch?v=4j2xEwEHbrE">My buddy, my buddy, my buddy and me!</a></p>
        </div>
        {{> yield }}
      </div>
    </div>
</template>
