<template name="employees">
    <!--<a class="btn btn-primary open-modal addUser" data-toggle="modal" href="addEmployee">Add User</a>-->
    <button type="button" class="btn btn-default addUser">Add User</button>


    {{#if showProjectDialog}}
      {{>addUserForm}}
    {{/if}}
    {{>techs}}
</template>


<template name="addUserForm">
    <div class="modal show" id="addEmployee">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <h4 class="modal-title">Modal title</h4>
                </div>

                <!--<form data-toggle="validator" role="form">-->
                    <!--<div class="form-group">-->
                        <!--<label for="inputName" class="control-label">Name</label>-->
                        <!--<input type="text" class="form-control" id="inputName" placeholder="Cina Saffary" required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <!--</div>-->
                <!--</form>-->


                <div class="modal-body">

                    <!--<form data-toggle="validator" role="form">-->
                        <!--<legend>Form Title</legend>-->
                    <!--<div class="form-group">-->
                        <!--<label for="inputName" class="control-label">Name</label>-->
                        <!--<input type="text" class="form-control" id="inputName" placeholder="Cina Saffary" required>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <!--</div>-->
                    <!--</form>-->

                    <form data-toggle="validator" role="form">
                        <legend>Form Title</legend>
                        <div class="form-group">
                            <label for="InputName" class="control-label">Name:</label>
                            <input type="text" class="input-xlarge form-control inputName" value="{{tech.name}}" placeholder="Employee Name..." required>
                        </div>
                        <div class="modal-footer form-group">
                            <button type="submit" class="btn btn-primary submit">Submit</button>
                            <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>


<template name="techs">
    <div class="techs">
        <table class="table table-hover">
            <thead>
            <tr>
              <th>Techs</th>
              <th>Scheduled Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wedensday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
                <th>Send<br> To Work</th>
            </tr>
            </thead>
            <tbody><tr>
            <td>{{#each techs}}
                {{> tech}}
            {{/each}}</td>
            <td>{{#each techs}}
                {{> time}}
            {{/each}}</td>
              <td>{{#each techs}}
                  {{> monday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> Tuesday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> Wedensday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> Thursday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> Friday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> Saturday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> Sunday}}
              {{/each}}</td>
              <td>{{#each techs}}
                  {{> sendwork}}
              {{/each}}</td>
            </tr>
              </tbody>
        </table>
    </div>
</template>

<template name='tech'>
    <tr class="tech">
        <td><span>{{name}}</span>
        </td>
    </tr>
</template>

<template name='monday'>
    <tr class="monday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Monday</lable>
            </div>
       </tr>
</template>

<template name='Tuesday'>
    <tr class="Tuesday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Tuesday</lable>
            </div>
       </tr>
</template>

<template name='Wedensday'>
    <tr class="Wedensday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Wedensday</lable>
            </div>
       </tr>
</template>

<template name='Thursday'>
    <tr class="Thursday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Thursday</lable>
            </div>
       </tr>
</template>

<template name='Friday'>
    <tr class="Friday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Friday</lable>
            </div>
       </tr>
</template>

<template name='Saturday'>
    <tr class="Saturday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Saturday</lable>
            </div>
       </tr>
</template>

<template name='Sunday'>
    <tr class="Sunday">
      <div class="row checkbox">
      <lable class="left col-md-1"><input type="checkbox">Sunday</lable>
            </div>
       </tr>
</template>

<template name='sendwork'>
    <tr class="sendwork">
         <div class="btn-group text-right pull-right">
             <button type="button" class="btn btn-default sendToWork" {{disabled}}>Send to Work</button>
         </div>
       </tr>
</template>
