<template name="Schedule">
  <!--<a class="btn btn-primary open-modal addUser" data-toggle="modal" href="addEmployee">Add User</a>-->
  <button type="button" class="btn btn-default addUser">Add User</button>
  {{#if showProjectDialog}} {{>addUserForm}} {{/if}} {{# if ShowDeleteBox}} {{> deleteUser}} {{/if}} {{>techs}}
  <!-- {{#if ShowDeleteBox}} {{> deleteUser}} {{/if}} -->
</template>


<template name="addUserForm">
  <div class="modal show" id="addEmployee">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">New Tech Form</h3>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form">
            <div class="form-group">
              <input type="text" class="input-xlarge form-control inputName" value="{{tech.name}}" placeholder="Employee Name..." autofocus>
            </div>
            <table class="">
              <thead>
                <tr>
                  <th>Start Time</th>
                  <th>end Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="left input-group clockpicker">
                      <input type="text" class="form-control startT" id="startT" value="{{tech.StartTime}}">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="right input-group clockpicker">
                      <input type="text" class="form-control endT" id="endT" value="{{tech.EndTime}}">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </td>
                  <div class="dropdown">
                    <select class="slect-dropdown">
                        <option selected disabled>What Shift?</option>
                        <option {{firstCheck "1st"}}>1st</option>
                        <option {{secondCheck "2nd"}}>2nd</option>
                        <option {{thirdCheck "3rd"}}>3rd</option>
                    </select>
                  </div>
                </tr>
              </tbody>
            </table>
            <label for="inputName" class="control-label">
              <strong>Days This Tech Works</strong>
            </label>
            <div class="techSchedule">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day1" {{checking "Monday"}}>Monday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day2" {{checking "Tuesday"}}>Tuesday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day3" {{checking "Wednesday"}}>Wednesday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day4" {{checking "Thursday"}}>Thursday
                        </label>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day5" {{checking "Friday"}}>Friday
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day6" {{checking "Saturday"}}>Saturday
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day7" {{checking "Sunday"}}>Sunday
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer form-group">
              <button type="submit" class="btn btn-primary submit">Submit</button>
              <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
            </div>
          </form>

        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</template>


<template name="techs">
  <div class="techs">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Techs</th>
          <th>Shift</th>
          <th>Scheduled
            <div class="center">
              Time
            </div>
          </th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
          <th>Send
            <br>To Work</th>
          <th>Remove From Q
            <br>Than Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each techs}} {{>schedule}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name='schedule'>
  <tr class="schedule" bgcolor="{{shiftColor Shift}}">
    <td style="color:#111c24;font-weight:bold">
      <div class="names">{{name}}</div>
    </td>
    <td>
      <div>{{Shift}}</div>
    </td>
    <td>
      <div>Start {{StartTime}}</div>
      <div>End {{EndTime}}</div>
    </td>
    <td>
      <div class="row radio" id="Monday" {{colorChecked "Monday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Monday"}}>Monday</label>
      </div>
    </td>
    <td>
      <div class="row radio" id="Tuesday" {{colorChecked "Tuesday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Tuesday"}}>Tuesday</label>
      </div>
    </td>
    <td>
      <div class="row radio" id="Wednesday" {{colorChecked "Wednesday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Wednesday"}}>Wednesday</label>
      </div>
    </td>
    <td>
      <div class="row radio" id="Thursday" {{colorChecked "Thursday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Thursday"}}>Thursday</label>
      </div>
    </td>
    <td>
      <div class="row radio" id="Friday" {{colorChecked "Friday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Friday"}}>Friday</label>
      </div>
    </td>
    <td>
      <div class="row radio" id="Saturday" {{colorChecked "Saturday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Saturday"}}>Saturday</label>
      </div>
    </td>
    <td>
      <div class="row radio" id="Sunday" {{colorChecked "Sunday"}}>
        <label class="left col-md-1">
          <input type="radio" disabled {{checking "Sunday"}}>Sunday</label>
      </div>
    </td>
    <td>
      <div class="btn-group center">
        <button type="button" class="btn btn-default sendToWork" style="background-color:#ee6129" {{disabled}}>{{queueCheck}}</button>
      </div>
    </td>
    <td>
      <div>
        <button class="btn btn-default removetech" {{queueButtonColorCheck}}>
          <span class="glyphicon glyphicon-remove center col-md-1"></span>
        </button>
      </div>
    </td>
  </tr>
</template>

<template name="deleteUser">
  <div class="modal show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Are You Sure This User Needs To Be Deleted!!??</h3>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form">
            <div class="form-group">
              <input type="text" class="input-xlarge form-control inputName" value="{{tech.name}}" placeholder="Employee Name..." disabled>
            </div>
            <table class="">
              <thead>
                <tr>
                  <th>Start Time</th>
                  <th>end Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control startT" id="startT" value="{{tech.StartTime}}" disabled>
                  </td>
                  <td>
                    <input type="text" class="form-control endT" id="endT" value="{{tech.EndTime}}" disabled>
                  </td>
                </tr>
              </tbody>
            </table>
            <label for="inputName" class="control-label">
              <strong>Days This Tech Works</strong>
            </label>
            <div class="techSchedule">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day1" {{checking "Monday"}} disabled>Monday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day2" {{checking "Tuesday"}} disabled>Tuesday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day3" {{checking "Wednesday"}} disabled>Wednesday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day4" {{checking "Thursday"}} disabled>Thursday
                        </label>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day5" {{checking "Friday"}} disabled>Friday
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day6" {{checking "Saturday"}} disabled>Saturday
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day7" {{checking "Sunday"}} disabled>Sunday
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer form-group">
              <button type="submit" class="btn btn-primary submitdelete">DELETE?</button>
              <button type="button" class="btn btn-default closeddelete" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
