<template name="techsWorking">
  <div class="techsWorking">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1 center ">Dudes/Dudettes</th>
          <th class="col-md-1 center ">Shift</th>
          <th class="col-md-1 center ">Status</th>
          <th class="col-md-1 center">Total Tickets</th>
          <th class="col-md-1 center">Time Since Last</th>
          <th class="col-md-1 center">Give the Pain</th>
        </tr>
      </thead>
      <tbody>
        {{#each techsWorking}} {{> techWorking}} {{/each}}
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2 class="center">Pre Pain Queue</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1 center ">Dudes/Dudettes</th>
          <th class="col-md-1 center ">Shift</th>
          <th class="col-md-1 center ">Status</th>
          <th class="col-md-1 center">Total Tickets</th>
          <th class="col-md-1 center">Time Since Last</th>
          <th class="col-md-1 center">Time Till Pain</th>
        </tr>
      </thead>
      <tbody>
        {{#each preWorking}} {{> pretechWorking}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name='techWorking'>
  <tr class="techWorking" bgcolor="{{color}}">
    <td>{{name}}</td>
    <td class="center">{{Shift}}</td>
    <td class="center">{{>options}}</td>
    <td class="center">{{totaltickets}}</td>
    <td class="center">{{timeStamp}}</td>
    <td class="center">{{repeatCheck}}
      <a>
        <span class="glyphicon glyphicon-plus  plus-one" style="font-size:25px;color:#0daecd"></span>
        <span class="glyphicon glyphicon-minus  minus-one #0daecd" style="font-size:25px;color:#0daecd;padding-left:20px"></span>
      </a>
    </td>
  </tr>
</template>

<template name="options">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
      {{status}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      {{#each statuses}}
      <li role="presentation">{{statusName}}</li>
      {{/each}}
    </ul>
  </div>
</template>


<template name='pretechWorking'>
  <tr class="pretechWorking" bgcolor="{{color}}">
    <td>{{name}}</td>
    <td class="center">{{Shift}}</td>
    <td class="center">{{>options}}</td>
    <td class="center">{{totaltickets}}</td>
    <td class="center">{{timeStamp}}</td>
    <td class="center">{{preStartTime}}</td>
  </tr>
</template>
