<template name="techsWorking">
  {{#if optionBox}}
  {{>optionBox}}
  {{/if}}
  <div class="techsWorking">
    <table class="table table-hover">
      <!-- {{addUser}} -->
      <thead>
        <tr>
          <th class="col-md-1 center ">Dudes/Dudettes</th>
          <th class="col-md-1 center ">Shift</th>
          <th class="col-md-1 center ">Status</th>

          <th class="col-md-1 center {{#if mcheck}} hidden {{/if}}">Total Tickets</th>

          <!-- <th class="col-md-1 center">Weight</th> -->
          <th class="col-md-1 center">Time Since Last</th>
          <th class="col-md-1 center ">Give the Pain</th>
        </tr>
      </thead>
      <tbody>
        {{#each techsWorking}} {{> techWorking}} {{/each}}
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2 class="center">Pre Pain Queue</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1 center ">Dudes/Dudettes</th>
          <th class="col-md-1 center ">Shift</th>
          <th class="col-md-1 center ">Status</th>
          <th class="col-md-1 center">Total Tickets</th>
          <th class="col-md-1 center">Time Since Last</th>
          <th class="col-md-1 center">Time Till Pain</th>
        </tr>
      </thead>
      <tbody>
        {{#each preWorking}} {{> pretechWorking}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name='techWorking'>
  <tr class=" techsWorking" bgcolor="{{color}}">
    <td><span >
    <a class="hideDisplay">{{name}}
      <span class="showDisplayOnHover">
        Manager Name: {{techManager}}<br>
        <span class="showBodyOfDisplayOnHover">

          <table class="table table-hover" style="background-color:#c0cedd">
            <thead>
              <tr>
                <th >Start {{StartTime}}</th>
                <th >End {{EndTime}}</th>
              </tr>
            </thead>
            <tbody>
              <td>
    M<br>
    T<br>
    W<br>
    Tu<br>
    F<br>
    S<br>
    Su
  </td>
<td>
  {{dayCheck "Monday"}}<br>
  {{dayCheck "Tuesday"}}<br>
  {{dayCheck "Wednesday"}}<br>
   {{dayCheck "Thursday"}}<br>
  {{dayCheck "Friday"}}<br>
  {{dayCheck "Saturday"}}<br>
   {{dayCheck "Sunday"}}

</td>
            </tbody>
            </table>
          </span>
          </span>
        </a></span>
    </td>
    <td class="center">{{Shift}}</td>
    <td class="center">{{>options}}</td>
    <td class="center" id="ticket">{{todaysTickets}}</td>
    <!-- <td class="center">{{queueWeight}}</td> -->
    <td class="center">{{timeStamp}}</td>
    <td class="center">{{skipCheck}}
      <a>
        <!-- {{#if mcheck}} -->
        <span class="glyphicon glyphicon-plus  plus-one {{#if mcheck}} hidden {{/if}}" style="font-size:25px;color:#0daecd"></span>
        <span class="glyphicon glyphicon-minus  minus-one #0daecd {{#if mcheck}} hidden {{/if}}" style="font-size:25px;color:#0daecd;padding-left:20px"></span>
        <!-- {{/if}} -->
      </a>
    </td>
  </tr>
</template>

<template name="options">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
      {{status}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      {{#each statuses}}
      <li role="presentation">{{statusName}}</li>
      {{/each}}
    </ul>
  </div>
</template>


<template name='pretechWorking'>
  <tr class="pretechWorking" bgcolor="{{color}}">
    <td>{{name}}</td>
    <td class="center">{{Shift}}</td>
    <td class="center">{{>options}}</td>
    <td class="center">{{todaysTickets}}</td>
    <td class="center">{{timeStamp}}</td>
    <td class="center">{{preStartTime}}</td>
  </tr>
</template>


<template name="optionBox">
  <div class="modal show" id="addEmployee">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">New Tech Form</h3>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form">
            <div class="form-group">
              <input type="text" class="input-xlarge form-control inputName" value="{{tech.name}}" placeholder="Employee Name..." autofocus>
            </div>
            <div class="form-group">
              <input type="text" class="input-xlarge form-control manager" value="{{tech.manager}}" placeholder="Manager Name..." autofocus>
            </div>
            <table class="">
              <thead>
                <tr>
                  <th>Start Time</th>
                  <th>end Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="left input-group clockpicker">
                      <input type="text" class="form-control startT" id="startT" value="{{tech.StartTime}}">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="right input-group clockpicker">
                      <input type="text" class="form-control endT" id="endT" value="{{tech.EndTime}}">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>
                  </td>
                  <div class="dropdown">
                    <select class="slect-dropdown">
                        <option selected disabled>What Shift?</option>
                        <option {{firstCheck "1st"}}>1st</option>
                        <option {{secondCheck "2nd"}}>2nd</option>
                        <option {{thirdCheck "3rd"}}>3rd</option>
                    </select>
                  </div>
                </tr>
              </tbody>
            </table>
            <label for="inputName" class="control-label">
              <strong>Days This Tech Works</strong>
            </label>
            <div class="techSchedule">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day1" {{checking "Monday"}}>Monday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day2" {{checking "Tuesday"}}>Tuesday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day3" {{checking "Wednesday"}}>Wednesday
                        </label>
                      </div>
                    </th>
                    <th>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day4" {{checking "Thursday"}}>Thursday
                        </label>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day5" {{checking "Friday"}}>Friday
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day6" {{checking "Saturday"}}>Saturday
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="btn-group text-left pull-left">
                        <label>
                          <input type="checkbox" class="day7" {{checking "Sunday"}}>Sunday
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer form-group">
              <button type="submit" class="btn btn-primary submit">Submit</button>
              <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
            </div>
          </form>

        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</template>
