<template name='tech'>
  <tr class="tech">
    <td><span>{{name}}</span>
      <!-- Split button -->
      <div class="btn-group text-right pull-right">
        <button type="button" class="btn dropdwon-toggle status-btn btn-sm btn-{{statusColor}}" data-toggle="dropdown">{{status}}
          <span class="caret"></span>
        </button>
        {{> statuses }}
      </div>
    </td>
    <td class="center">{{totalTickets}}</td>
    <td class="center">{{ticksRcvdToday}}</td>
    <td class="center">{{timeSinceLastReceived}}</td>
    <td class="center plus-one"><a><span class="glyphicon glyphicon-tag"></span></a><a><span class="glyphicon glyphicon-earphone"></span></a></td>
  </tr>
</template>
