<template name="techs">
  <div class="techs">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Dudes</th>
            <th class="col-md-1">Total Tickets</th>
            <th class="col-md-1">Dispatched</th>
            <th class="col-md-2">Time Since Last</th>
            <th class="col-md-1">Give the Pain</th>
          </tr>
        </thead>
        <tbody>
        {{#each techs}}
          {{> tech}}
        {{/each}}
      </tbody>
      </table>
  </div>
</template>
