<template name="techsWorking">
  <div class="techsWorking">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Dudes</th>
          <th class="col-md-1 center ">status</th>
          <th class="col-md-1 center">Total Tickets</th>
          <th class="col-md-1 center">Dispatched</th>
          <th class="col-md-2 center">Time Since Last</th>
          <th class="col-md-1 center">Give the Pain</th>
        </tr>
      </thead>
      <tbody>
        {{#each techsWorking}} {{> techWorking}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name='techWorking'>
  <tr class="techWorking" bgcolor="{{color}}">
    <td>{{name}}</td>
    <td class="center">{{>options}}</td>
    <td class="center">{{totaltickets}}</td>
    <td class="center">{{dispatched}}</td>
    <td class="center">{{livestamp timesincelast}}</td>
    <td class="center">{{repeatCheck}}
      <a>
        <span class="glyphicon glyphicon-plus  plus-one" style="font-size:25px;"></span>
      </a>
    </td>
  </tr>
</template>

<template name="options">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
      {{status}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      {{#each statuses}}
      <li role="presentation">{{statusName}}</li>
      {{/each}}
    </ul>
  </div>
</template>
